%p
  herzlichen Glückwunsch, Sie sind dabei!

%p
  Ihre Verkäufernummer:
  = @seller.code

%p
  Ihre Farbe:
  = @seller.color && t(@seller.color)

%p
  Ihr Kommissionsmodell:
  = @seller.model_description

%p
  Bitte wählen Sie Ihre Abgabe-/Hilfstermine:
  %br
  = link_to 'Termine wählen', edit_seller_url(@seller)

%p{style: 'max-width: 50em'}
  %em
    %strong Noch eine Bitte:
    %br
    Damit sich Ihre Waren möglichst gut verkaufen, bitten wir Sie,
    unser
    = link_to 'Facebook-Event', 'https://www.facebook.com/events/383734068875788/'
    zu teilen und
    unseren Flyer (s. Anhang) zu verteilen, z.B. über WhatsApp-Gruppen und im Kindergarten.
