%h1 Listing tasks

= link_to 'New Task', new_task_path

%table#tasks.element_list
  %thead
    %tr
      %th Sort Number
      %th Description
      %th Weight
      %th Limit
      %th Not for A
      %th Must for D
      %th Must for E
      %th Kind
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.sort_key
        %td= task.description
        %td= task.weight
        %td= task.limit
        %td= task.only_d
        %td= task.must_d
        %td= task.must_e
        %td= task.kind
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }
