= form_for @seller do |f|
  - if @seller.errors.any?
    #error_explanation
      %h2= "Fehler haben das Speichern verhindert:"
      %ul
        - @seller.errors.full_messages.each do |msg|
          %li= msg

  - if current_user.seller?
    .field
      Verkäufernummer:
      %strong= @seller.code
  - else
    .field
      = f.label :user_id
      = f.select :user_id, options_for_select(available_users(@seller).map {|u| [u.description, u.id]}, @seller.user_id)
    .field
      = f.label :initials
      = f.text_field :initials
    .field
      = f.label :number
      = f.text_field :number

  .field
    Farbe:
    %strong{class: @seller.color}= @seller.color && t(@seller.color)

  - if current_user.seller?
    .field
      Verkaufsmodell:
      %strong= @seller.model
  - else
    .field
      = f.label :model
      = f.select :model, options_for_select(Seller.models.keys, @seller.model)

  - unless @seller.new_record?
    %h3 Abgabetermin

    %p Bitte geben Sie hier ein, wann Sie Ihre Sachen bringen möchten.

    %table.element_list
      %tr
        %th
        %th
        %th
      - @seller.activities.each do |activity|
        - if activity.task.deliver?
          = f.fields_for :activities, activity do |a|
            %tr
              %td
                = activity.task_description
                = a.hidden_field :task_id, value: activity.task_id
                = a.hidden_field :id, value: activity.id
              %td.check
                .field
                  = a.check_box :me # actual
              %td
                - notes = []
                - notes << "nicht bei Verkaufsmodell A" if activity.task.only_d
                - notes << "limitiert auf #{activity.task.limit} Personen" if activity.task.limit && activity.task.limit > 0 && activity.task.limit < 99
                = notes.join(", ")

    %h3{style: "margin-top: 3ex"} Hilfstermin(e)

    %p Bitte geben Sie hier an, wann Sie helfen möchten. Es können mehrere Zeitfenster ausgewählt werden.

    %p Sie dürfen sich selbstverständlich freiwillig für mehr Termine melden, als Sie laut Ihrem Modell müssten - Sie bekommen dann automatisch entsprechend weniger Kommission abgezogen.

    %table.element_list
      %tr
        %th
        %th
      - @seller.activities.each do |activity|
        - if activity.task.bring?
          = f.fields_for :activities, activity do |a|
            %tr
              %td
                = activity.task_description
                = a.hidden_field :task_id, value: activity.task_id
                = a.hidden_field :id, value: activity.id
              %td.check
                .field
                  = a.check_box :me
                  %span{style: "font-size: larger"}= activity.actual_count >= 0.99 ? "&#x2714;".html_safe : ""
              - unless current_user.seller?
                %td{style: "padding-left: 30em;"}
                  .field= a.number_field :actual_count, step: :any

    %table.element_list
      %tr
        %th
        %th helfe
        %th bringe noch einen Helfer mit
        %th
      - @seller.activities.each do |activity|
        - if activity.task.help?
          = f.fields_for :activities, activity do |a|
            %tr
              %td
                = activity.task_description
                = a.hidden_field :task_id, value: activity.task_id
                = a.hidden_field :id, value: activity.id
              %td.check
                .field
                  = a.check_box :me, disabled: activity.task.must_d
                  %span{style: "font-size: larger"}= activity.actual_count >= 0.99 ? "&#x2714;".html_safe : ""
              %td.check
                - unless activity.task.must_d
                  .field
                    = a.check_box :helper
                    %span{style: "font-size: larger"}= activity.actual_count >= 1.99 ? "&#x2714;".html_safe : ""
              %td
                - notes = []
                - notes << "limitiert auf #{activity.task.limit} Personen" if activity.task.limit && activity.task.limit > 0 && activity.task.limit < 99
                - notes << "nur bei Verkaufsmodell D" if activity.task.must_d
                = notes.join(", ")
              - unless current_user.seller?
                %td{style: "padding-left: 6em;"}
                  .field= a.number_field :actual_count, step: :any

  -# .field
  -#   = f.label :rate_in_percent, "Rate"
  -#   = f.number_field :rate_in_percent, autocomplete: :off
  -#   \%
  .actions{style: "margin-top: 2ex"}
    = f.submit 'Speichern'
