= form_for @seller do |f|
  - if @seller.errors.any?
    #error_explanation
      %h2= "Fehler haben das Speichern verhindert:"
      %ul
        - @seller.errors.full_messages.each do |msg|
          %li= msg

  -# .field
  -#   = f.label :name
  -#   = f.text_field :name, autocomplete: :off
  .field
    Verkäufernummer:
    = @seller.code

  %h3 Abgabetermin

  %p Bitte geben Sie hier ein, wann Sie Ihre Sachen bringen möchten.

  %table.element_list
    %tr
      %th
      %th
      %th
    - @seller.activities.each do |activity|
      - if activity.task.deliver?
        = f.fields_for :activities, activity do |a|
          %tr
            %td
              = activity.task_description
              = a.hidden_field :task_id, value: activity.task_id
              = a.hidden_field :id, value: activity.id
            %td.check
              .field
                = a.check_box :me # actual
            %td
              - notes = []
              - notes << "nicht bei Verkaufsmodell A" if activity.task.only_d
              - notes << "limitiert auf #{activity.task.limit} Personen" if activity.task.limit && activity.task.limit > 0 && activity.task.limit < 99
              = notes.join(", ")

  %h3{style: "margin-top: 3ex"} Hilfstermin(e)

  %p Bitte geben Sie hier an, wann Sie helfen möchten. Es können mehrere Zeitfenster ausgewählt werden.

  %p Sie dürfen sich selbstverständlich freiwillig für mehr Termine melden, als Sie laut Ihrem Modell müssten - Sie bekommen dann automatisch entsprechend weniger Kommission abgezogen.

  %table.element_list
    %tr
      %th
      %th
    - @seller.activities.each do |activity|
      - if activity.task.bring?
        = f.fields_for :activities, activity do |a|
          %tr
            %td
              = activity.task_description
              = a.hidden_field :task_id, value: activity.task_id
              = a.hidden_field :id, value: activity.id
            %td.check
              .field
                = a.check_box :me # actual

  %table.element_list
    %tr
      %th
      %th helfe
      %th bringe noch einen Helfer mit
      %th
    - @seller.activities.each do |activity|
      - if activity.task.help?
        = f.fields_for :activities, activity do |a|
          %tr
            %td
              = activity.task_description
              = a.hidden_field :task_id, value: activity.task_id
              = a.hidden_field :id, value: activity.id
            %td.check
              .field
                = a.check_box :me
            %td.check
              .field
                = a.check_box :helper
            %td
              - notes = []
              - notes << "limitiert auf #{activity.task.limit} Personen" if activity.task.limit && activity.task.limit > 0 && activity.task.limit < 99
              = notes.join(", ")

  -# .field
  -#   = f.label :rate_in_percent, "Rate"
  -#   = f.number_field :rate_in_percent, autocomplete: :off
  -#   \%
  .actions{style: "margin-top: 2ex"}
    = f.submit 'Speichern'
