- if Setting.drawn_applicants
  %h2 Verkäuferplatz registrieren
  = form_for(@user, url: sellers_apply_path, html: {method: :put}) do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "Fehler haben das Speichern verhindert:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    - if @seller && @seller.errors.any?
      #error_explanation
        %h2= "Verkäufer-Fehler haben das Speichern verhindert:"
        %ul
          - @seller.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :wish_a, 'Modell'
      = f.select :wish_a, options_for_select(models_with_descriptions(Seller.available_models), @user.wish_a)

    .field
      = check_box_tag :terms
      %em
        Ich habe die
        =link_to 'Verkaufsbedingungen (AGB)', pages_terms_path, target: '_blank'
        gelesen und akzeptiere sie

    .actions
      = f.submit 'Registrieren'
- else
  %h2 Verkäuferplatz beantragen
  = form_for(@user, url: sellers_apply_path, html: {method: :put}) do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "Fehler haben das Speichern verhindert:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :wish_a
      = f.select :wish_a, options_for_select(models_with_descriptions, @user.wish_a), include_blank: true
    .field
      = f.label :wish_b
      = f.select :wish_b, options_for_select(models_with_descriptions, @user.wish_b), include_blank: true
    .field
      = f.label :wish_c
      = f.select :wish_c, options_for_select(models_with_descriptions, @user.wish_c), include_blank: true

    .field
      = check_box_tag :terms
      %em
        Ich habe die
        =link_to 'Verkaufsbedingungen (AGB)', pages_terms_path, target: '_blank'
        gelesen und akzeptiere sie

    .actions
      = f.submit 'Beantragen'
