%h2 Verkäufernummer beantragen

= form_for(@user, url: sellers_apply_path, html: {method: :put}) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "Fehler haben das Speichern verhindert:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :wish_a
    = f.select :wish_a, options_for_select(models_with_descriptions, @user.wish_a), include_blank: true
  .field
    = f.label :wish_b
    = f.select :wish_b, options_for_select(models_with_descriptions, @user.wish_b), include_blank: true
  .field
    = f.label :wish_c
    = f.select :wish_c, options_for_select(models_with_descriptions, @user.wish_c), include_blank: true

  .field
    = f.label :street
    %br
    = f.text_field :street
  .field
    = f.label :city
    %br
    = f.text_field :city

  .field
    = check_box_tag :terms
    = label_tag :terms do
      %em
        Ich habe die
        =link_to 'Verkaufsbedingungen (AGB)', pages_terms_path, target: '_blank'
        gelesen und akzeptiere sie

  .actions
    = f.submit 'Beantragen'
