%h1 Termine bearbeiten

= render 'form'

%p= link_to 'Abmelden', @seller, :method => :delete, :data => { :confirm => 'Sind Sie sicher?' }

-#%p
-#  Computed rate:
-#  = "#{@seller.computed_rate_in_percent} %"

-#= link_to 'Destroy', @seller, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#\|
-#= link_to 'New', new_seller_path
-#\|
-#= link_to 'List', sellers_path


%h2{style: "margin-top: 3ex"} Verkaufsübersicht

%table
  %tr
    %td Anzahl Artikel:
    %td.number= @seller.number_of_items
  %tr
    %td Erlös
    %td.money= money_string @seller.total_revenue
  %tr
    %td Kommission
    %td.money= money_string @seller.total_commission
  %tr
    %td Auszahlung
    %td.money= money_string @seller.total_payout


%h3 Verkaufte Artikel

- @seller.items.each do |item|
  %div= money_string item.price
