%h1 Listing sellers

= link_to 'New Seller', new_seller_path

%table#sellers.element_list
  %tr
    %th Name
    %th Number
    %th Initials
    - @tasks.each do |task|
      %th= task.description
    %th Rate&nbsp;&nbsp;
    %th # Sold items
    %th Total revenue
    %th Commission
    %th Total Payout
    %th
    %th
    %th Commission 10%
    %th Payout 10%
    %th Commission 15%
    %th Payout 15%
    %th Commission 20%
    %th Payout 20%

  - @sellers.each do |seller|
    %tr
      %td= seller.name
      %td.number= seller.number
      %td.initials= seller.initials
      - @tasks.each do |task|
        %td.number= seller.activity_description(task)
      %td.number= "#{seller.rate_in_percent} %"
      %td.number= seller.number_of_items
      %td.money= money_string seller.total_revenue
      %td.money= money_string seller.total_commission
      %td.money= money_string seller.total_payout
      %td= link_to 'Edit', edit_seller_path(seller)
      %td= link_to 'Destroy', seller, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td.money= money_string seller.total_commission(0.10)
      %td.money= money_string seller.total_payout(0.10)
      %td.money= money_string seller.total_commission(0.15)
      %td.money= money_string seller.total_payout(0.15)
      %td.money= money_string seller.total_commission(0.20)
      %td.money= money_string seller.total_payout(0.20)

  %tr
    %td SUMME
    %td
    %td
    - @tasks.each do |task|
      %td
    %td
    %td.number= @sellers.map {|seller| seller.number_of_items}.inject(0, :+)
    %td.money= money_string @sellers.map {|seller| seller.total_revenue}.inject(0, :+)
    %td.money= money_string @sellers.map {|seller| seller.total_commission}.inject(0, :+)
    %td.money= money_string @sellers.map {|seller| seller.total_payout}.inject(0, :+)
    %td
    %td
    %td.money= money_string @sellers.map {|seller| seller.total_commission(0.10)}.inject(0, :+)
    %td.money= money_string @sellers.map {|seller| seller.total_payout(0.10)}.inject(0, :+)
    %td.money= money_string @sellers.map {|seller| seller.total_commission(0.15)}.inject(0, :+)
    %td.money= money_string @sellers.map {|seller| seller.total_payout(0.15)}.inject(0, :+)
    %td.money= money_string @sellers.map {|seller| seller.total_commission(0.20)}.inject(0, :+)
    %td.money= money_string @sellers.map {|seller| seller.total_payout(0.20)}.inject(0, :+)
