%h1 Listing sellers

- model_counts = Seller.group(:model).count
- model_counts.default = 0
%ul
  - Seller.models.each do |model, model_id|
    %li= "Modell #{model}: #{model_counts[model_id]} Verkäufer"
  %li= "Gesamt: #{model_counts.values.inject(:+)} Verkäufer"

%table#sellers.element_list
  = render 'table_header'

  - @sellers.each_with_index do |seller, i|
    - if (i+1) % 20 == 0 && @sellers.size - (i+1) > 5
      = render 'table_header'
    %tr
      %td{class: inconsistency_class(seller)}= seller.name
      %td.number= seller.number
      %td.initials= seller.initials
      %td.centered= seller.model
      - @tasks.each do |task|
        %td.number= seller.activity_summary(task)
      %td.number= seller.activities_summary
      %td.number= "#{seller.computed_rate_in_percent} %"
      %td.number= "#{seller.rate_in_percent} %"
      %td.number= "#{seller.final_rate_in_percent} %"
      %td= link_to 'Edit', edit_seller_path(seller)
      %td= link_to 'Destroy', seller, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %tr.summary
    %td SUM
    %td
    %td
    - @tasks.each do |task|
      %td.number= Seller.activity_summary(task)
    %td.number= Seller.activities_summary
    %td
    %td
    %td
    %td
