= form_for @user, url: (@user.new_record? && user_admin_create_path) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :first_name
    %br
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br
    = f.text_field :last_name
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :role
    %br
    = f.select :role, options_for_select(User.roles.keys, @user.role)

  - if @user.seller?
    .field
      = f.label :wish_a, "1. Wunsch"
      = f.select :wish_a, options_for_select(models_with_descriptions, @user.wish_a)
    .field
      = f.label :wish_b, "2. Wunsch"
      = f.select :wish_b, options_for_select(models_with_descriptions, @user.wish_b)
    .field
      = f.label :wish_c, "3. Wunsch"
      = f.select :wish_c, options_for_select(models_with_descriptions, @user.wish_c)

  .actions
    = f.submit 'Save'
