= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :initials
    %br
    = f.text_field :initials
  .field
    = f.label :seller_number
    %br
    = f.text_field :seller_number
  .field
    = f.label :first_name
    %br
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br
    = f.text_field :last_name
  .field
    = f.label :old_seller_code
    %br
    = f.text_field :old_seller_code
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :seller_model
    %br
    = f.select :seller_model, options_for_select(User.seller_models.keys, @user.seller_model), include_blank: true
  .field
    = f.label :role
    %br
    = f.select :role, options_for_select(User.roles.keys, @user.role)

  .actions
    = f.submit 'Save'
