%h1 Listing users

= link_to 'New User', new_user_path

%table.element_list
  %thead
    %tr
      %th Ich
      %th Verk.
      %th alt
      %th Wünsche
      %th Gewichtung
      %th= User.human_attribute_name(:first_name)
      %th= User.human_attribute_name(:last_name)
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:role)
      %th Anmeldung
      %th Letzter Login
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td.centered= user == current_user ? "x" : ""
        %td{class: user.seller_color}= user.seller_code
        %td{class: :smaller}= user.old_seller_code
        %td= user.wishes_text
        %td= user.weighting
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.role
        %td= user.created_at
        %td= user.current_sign_in_at
        %td= link_to 'Edit', edit_user_path(user)
        - if can? :destroy, user
          %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
