%h1 Listing animals

%table
  %thead
    %tr
      %th Email
      %th Role
      %th
      %th
      %th

  %tbody
    - @animals.each do |animal|
      %tr
        %td= animal.email
        %td= animal.role
        %td= link_to 'Show', animal
        %td= link_to 'Edit', edit_animal_path(animal)
        %td= link_to 'Destroy', animal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Animal', new_animal_path
