= audio_tag "error.wav", preload: "auto" #, controls: true

- if @transaction.created_at
  .timestamp
    Created at:
    = @transaction.created_at

= form_for @transaction do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  %table
    = render @transaction.items
    = render Item.new
  .actions
    = f.submit 'Save'
