= render "summary"
= form_for @transaction do |f|
  = render partial: 'error_explanation', locals: {messages: @transaction.errors.full_messages}

  %table
    - 3.times {@transaction.items.build} # unless @transaction.errors.any?
    - @transaction.items.each do |item|
      %tr
        = f.fields_for :items, item do |i|
          %td
            = render partial: 'items/seller_code', locals: {item: i}
          %td
            = render partial: 'items/price', locals: {item: i}
  .actions{style: "margin-bottom: 3ex"}
    = f.submit 'Save', id: :transaction_submit
