%h1= "Listing #{action_name == "index_all" ? "all" : "your"} transactions"

= link_to 'New Transaction', new_transaction_path

%table#transactions.element_list
  %tr
    %th Created at
    %th User / Client
    %th Num. of items
    %th Amount
    %th
    %th
    %th

  - @transactions.each do |transaction|
    %tr
      %td= transaction.created_at
      %td= "#{transaction.user_description} / #{transaction.client_key}"
      %td.number= transaction.items.count
      %td.money= money_string transaction.total_price
      %td= link_to 'Show', transaction
      %td= link_to 'Destroy', transaction, :method => :delete, :data => { :confirm => 'Are you sure?' }
