%h1 Listing transactions

%table#transactions.element_list
  %tr
    %th Created at
    %th Num. of items
    %th Amount
    %th
    %th
    %th

  - @transactions.each do |transaction|
    %tr
      %td= transaction.created_at
      %td= transaction.items.count
      %td= ("%1.2f EUR" % transaction.total_price).gsub(".", ",")
      %td= link_to 'Show', transaction
      %td= link_to 'Destroy', transaction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Transaction', new_transaction_path
