%h1 View transaction

= render "summary"
- @transaction.items.each do |item|
  %p
    %b Seller:
    = item.seller_code
    = item.seller.name
  %p{style: "margin-bottom: 5ex"}
    %b Price:
    = money_string item.price

-# %p
-#   = link_to 'Cash given', @transaction, id: "cash_given_link" #, data: {total_price: @transaction.total_price}

= link_to 'Destroy', @transaction, :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'New', new_transaction_path
\|
= link_to 'List', transactions_path
