!!! 5
%html
  %head
    %title Ichthys-Basar
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %table#menu
      %tr
        - if user_signed_in?
          %td= link_to "Logout", destroy_user_session_path, :method => :delete
        - else
          %td= link_to "Login", new_user_session_path
        %td= link_to "Home", root_path
        %td= link_to "Sellers", sellers_path
        %td
          = link_to "Transactions", transactions_path
          = link_to "(all)", all_transactions_path
        %td= "Client: #@client_key"

    - if flash[:alert]
      #alert.message= flash[:alert]
    - if flash[:error]
      #error.message= flash[:error]
    - if flash[:warning]
      #warning.message= flash[:warning]
    - if flash[:notice]
      #notice.message= flash[:notice]

    = yield
