!!! 5
%html
  %head
    %title Basar
    = favicon_link_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    - if can? :read, User # @@@ should be: AllSellers (custom object in ability.rb, s. https://gist.github.com/alindeman/1903397)
      #seller_list{data: {list: ( hash = {}; Seller.list(false).each {|seller| hash[seller.number] = [seller.id, seller.initials]}; hash.to_json)}}
    - if can? :read, Transaction
      #shortcuts_available

    #menu
      %div{style: "display: block; margin: 10px"}
        = image_tag 'logo.png', size: '130x20'
      %ul
        = render 'layouts/session'

        %div{style: "margin-top: 3ex"}

        %li#navigation= render_navigation

        - if can? :read, User
          %li.topic= link_to User.model_name.human(count: 2), users_path

        - if can? :read, User
          %li.topic= link_to t(".sellers"), sellers_path
          %li.topic= link_to t(".revenue"), sellers_revenue_path

        - if can? :read, Task
          %li.topic= link_to t(".tasks"), tasks_path

        - if can? :read, Transaction
          %li.topic= link_to t(".transactions.title"), transactions_path
          %li.indented= link_to "(#{t ".transactions.all"})", all_transactions_path
          %li{style: "margin-top: 2ex; margin-bottom: 2ex"}= t(".transactions.client") + ": #@client_key"

        %li.smaller
          Nächster Termin:
          %br
          23.03.2019
          %br
          10:00 - 12:00

      #menu_footer
        %ul
          %li= link_to t('.terms'), pages_terms_path
          %li= link_to t('.privacy'), pages_privacy_path
          %li= link_to t('.contact'), pages_contact_path
          %li= link_to t('.about'), pages_about_path

    #content
      - if flash[:alert]
        #alert.message= flash[:alert]
      - if flash[:error]
        #error.message= flash[:error]
      - if flash[:warning]
        #warning.message= flash[:warning]
      - if flash[:notice]
        #notice.message= flash[:notice]

      = yield
