- update = @user.persisted?

= form_for(@user, url: registration_path(:user), html: { method: (update ? :put : :post) }) do |f|
  = devise_error_messages!

  - unless @user.seller?
    .field
      = f.label :role
      %br
      = f.text_field :role, disabled: true

  .field
    = f.label :first_name
    %br
    = f.text_field :first_name, disabled: update
  .field
    = f.label :last_name
    %br
    = f.text_field :last_name, disabled: update
  .field
    = f.label :email
    %br
    = f.email_field :email
    - if @user.pending_reconfirmation?
      %br
      = t('.currently_waiting_confirmation_for_email', :email => @user.unconfirmed_email)
  .field
    = f.label :street
    %br
    = f.text_field :street
  .field
    = f.label :city
    %br
    = f.text_field :city

  .field
    = f.label :password
    - if @minimum_password_length
      %em= "(mind. #{@minimum_password_length} Zeichen)"
    - if update
      %em= "(" + t('.leave_blank_if_you_don_t_want_to_change_it') + ")"
    %br
    = f.password_field :password, autocomplete: ( update ? :off : false )
  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: ( update ? :off : false )
  - if update
    .field
      = f.label :current_password
      %em= "(" + t('.we_need_your_current_password_to_confirm_your_changes') + ")"
      %br
      = f.password_field :current_password, autocomplete: :off

  .actions
    = f.submit t (update ? '.save' : '.sign_up')
