%h2= t '.title'

= render 'form'

%h3= t '.cancel_my_account'

%p
  = t('.unhappy') + "?"
  = link_to t('.cancel_my_account'), registration_path(resource_name), :data => { :confirm => t('.are_you_sure') }, :method => :delete

= link_to t('devise.shared.links.back'), :back
