%h2= t('.sign_up', :default => "Sign up")

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  %div
    = f.label :email
    = f.email_field :email

  %div
    = f.label :password
    = f.password_field :password

  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  %div
    = f.label :name
    = f.text_field :name

  %div{style: "margin-top: 2ex"}
    = f.label :seller_model
    - models = { :A => [20, "keine Mithilfe"],
                 :B => [15, "2 Std. Aufbauhilfe ODER ein Kuchen"],
                 :C => [10, "4 Std. Aufbauhilfe ODER 2 Std. Aufbauhilfe und ein Kuchen"],
                 :D => [5,  "3 Std. Abbauhilfe"] }
    - User.seller_models.keys.each do |seller_model|
      - model = models[seller_model.to_sym]
      = f.radio_button :seller_model, seller_model
      = f.label :seller_model, "Model #{seller_model}: #{model[0]}% Kommission, #{model[1]}", value: seller_model
      %br

  %div{style: "margin-top: 2ex"}
    = f.label :old_seller_code
    %em (leer lassen, wenn nicht vorhanden)
    %br
    = f.text_field :old_seller_code

  %div{style: "margin-top: 2ex"}
    = f.submit t('.sign_up', :default => "Sign up")

= render "devise/shared/links"
