<h2><%= t('.sign_up', :default => "Sign up") %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :seller_model %><br />
  <%= f.select :seller_model, options_for_select(User.seller_models.keys) %></div>

  <div><%= f.label :old_seller_code %><br />
  <%= f.text_field :old_seller_code %></div>

  <div style="margin-top: 2ex"><%= f.submit t('.sign_up', :default => "Sign up") %></div>
<% end %>

<%= render "devise/shared/links" %>
